name: Build
"on":
  pull_request:
    branches: ["main"]
    paths:
      - '**.nix'
      - .github/workflows/build.yaml
      - flake.lock
      - packages/**
  push:
    branches: ["main"]
    paths:
      - '**.nix'
      - .github/workflows/build.yaml
      - flake.lock
      - packages/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v16
      - uses: DeterminateSystems/magic-nix-cache-action@v8
      # todo Build all other packages, too.
      - name: Build import-comics
        run: nix build '.#import-comics'
